
@import "custom";

// General

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.sect-wrapper{
    display: flex;
    flex-direction: column;
}

//Nav

.glass-nav{
    display: none;
}

nav{
    background-color: $blue-background;
    background-image: $black-silver-grad;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.nav-title{
    h1{
            font : {
                family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                weight: bold;
            }
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

.main-nav{
    ul{
        li{
            display: inline-block;
            box-shadow: 0 5px 10px $dark;
            margin: 0 $spacer;
            background-color: $blue-background;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            border-radius: $border-radius-pill;
            -webkit-border-radius: $border-radius-pill;
            -moz-border-radius: $border-radius-pill;
            -ms-border-radius: $border-radius-pill;
            -o-border-radius: $border-radius-pill;
            padding: 0 $spacer;
            background-color: $nav-blue;
            a{
                color: $dark;
            }
        }

        li:hover{
            background: none;
            a{
                color: $light;
            }
        }
    }
}

//Home

main{
    height: 100vh;
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative;

    .main-wrapper{
        height:inherit;
        width: 50%;
        margin: 0px;
        position:absolute;
        left:0px;
        padding-right: 0px;
    }

    .intro-comp {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: min-content;
        width:min-content;
        position:absolute;
        right:0px;
    }

    .hig {
        text-align:center;
        width:40vw;
    }

    h1{
        font-size: $spacer * 3.5;
        color: $slogan-blue;
        text-align:center;
        margin-bottom:0px;
        background-color: $nav-blue;
        border-radius: 5px 5px 0px 0px;
        padding:50px 20px;
        height:100%;
    
    }

    p{
        color: $nav-blue;
        line-height:2;
        background-color: $slogan-blue;
        margin-bottom: 0px;
        border-radius: 0px 0px 5px 5px; 
        height: min-content;
        padding:50px 20px;
    }

    .slogan-text{
        justify-self: flex-start;
    }

    input{
        height: 3rem;
        outline: none;
    }

    input:focus{
        outline: none;
        border: none;
    }
    
    input[type = "email"]::placeholder{
        color: $place-col;
        padding-left: 1rem;
    }

    input[type = "email"]::-webkit-input-placeholder{
        color: $place-col;
        
    }

    input[type = "email"]::-ms-input-placeholder{
        color: $place-col;
        
    }

    button[type = "submit"]{
        color: $send-col;
        background: $send-grad;
        position: relative;
        bottom: 3rem;
        left: 50%;
        height: 3rem;
    }
}

.home-backk{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    filter: opacity(0.52);
    -webkit-filter: opacity(0.52);
    z-index: -100;
}

#glass-ping {
    position:absolute;
    top:50vh;
    height: 300px;
    width: 500px;
    background-image: $black-blue-white-grad-alpha;
    z-index: 5;
    border-radius: 10px;
}

//Sections styling

section{
    height: max-content;
    position: relative;
    overflow: hidden;
}

.sect-wrapper{
    margin-top: 7rem;
    opacity: 0;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

.active{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.about-back{
    position: absolute;
    width: 100%;
    height: 200vh;
    left: 0;
    z-index: -100;
    opacity: 52%;
}

//About Us
#about-us {
    background-color: $slogan-blue;
    background-image: none;
    padding: 0px;
    margin: 0px;


    h1{
        font-size: $spacer * 3.5;
        color: $slogan-blue;
        padding: $spacer * 3;
        text-align: left;
    }

    .sect-head {
        width: 100vw;
        background-color: $nav-blue;
        margin: 0px;
        position: relative;
        top:-18vh;
        border-bottom: solid 3px $send-col;
    }
}


.about{
    background-color: $nav-blue;
    padding: 1.5rem 2rem;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 80%;
    border-left: solid 6px $send-col;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 10px $dark;

    p{
        // color: $sect-color; Use for About
        color: $slogan-blue;
        text-align: justify;
    }
}

.second{
   float: right;
}

.third{
    clear: right;
}

//Services
#services {
    background-color: $nav-blue;
    
    h1{
        font-size: $spacer * 3.5;
        color: $nav-blue;
        padding: $spacer * 3;
        text-align: left;
    }

    .sect-head {
        width: 100vw;
        background-color: $send-col;
        margin: 0px;
        position: relative;
        top:-18vh;
        border-bottom: solid 3px $slogan-blue;
    }
}


.servi{
    display: grid;
    width: 90%;
    height: 140vh;
    grid-template-areas:
     "glass profiles fabrication"
     "aluco aluco fabrication"
     "access interior fabrication";
     grid-gap: 30px;
}

.glass{
    grid-area: glass;
    display: flex;
    align-items:flex-end;
    .textish{
        // bottom: 10%;
        width: 25%;
        border-bottom:3px solid $send-col;
    }
}

.profiles{
    grid-area: profiles;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: stretch;
    .textish{
        // bottom: 0%;
        width: 25%;
        border-bottom:3px solid $send-col;
    }
}

.alucobond{
    grid-area: aluco;
    display: flex;
    align-items:flex-end;
    .textish{
        // bottom: 31%;
        width: 52.5%;
        border-bottom:3px solid $send-col;
    }
}

.accessories{
    grid-area: access;
    display: flex;
    align-items:flex-end;
    .textish{
        // bottom: 0%;
        width: 25%;
        border-bottom:3px solid $send-col;
    }
}

.interior-design{
    grid-area: interior;
    display: flex;
    align-items:flex-end;
    .textish{
        // bottom: 0%;
        width: 25%;
        border-bottom:3px solid $send-col;
    }
}

.fabrication{
    grid-area: fabrication;
    display: flex;
    align-items:flex-end;
    .textish{
        // bottom: 0%;
        width: 25%;
        border-bottom:3px solid $send-col;
    }
} 

.service{
    overflow: hidden;
    border-radius:5px;
    img{
        min-height: 100%;
        min-width: 100%;
    }

    .textish{
        position: absolute;
        background-color: #0C2337;
        p{
            color: white;
            position: relative;
            top: 5px;
        }
    }
}

.service-back{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -100;
    opacity: 52%;
}

//Contact Us
#contact-us{
    width: 100vw;
    height: 100vh;
    padding:0px;
    
    #biggerbg{
        height: 100%;
        width: 100%;
        padding: 0px;
    }

    h1{
        font-size: $spacer * 3.5;
        color: $nav-blue;
        padding: $spacer * 3;
        text-align: left;
        margin: 0px;
        margin-bottom: 0px;
    }

    .flex-column{
        margin:0px;
        padding:0px;
    }

    .sect-head {
        width: 100vw;
        background-color:$slogan-blue ;
        margin: 0px;
        border-bottom: solid 3px $send-col;
        margin: 0px;
    }

    #contact-head{
        margin-bottom: 0px !important;
    }

    .bigbg {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .leftbg{
        background-color: $nav-blue;
        box-sizing: border-box !important; 
        height:100%;
        width:50%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .rightbg{
        background-color: $send-col;
        background-image: url(pexels-miguel-á-padriñán-255379.jpg);
        background-position: center;
        background-size:cover;
        height:100%;
        width:50%;
        margin: 0px;
    }

    .inputBx input{
        // box-sizing: border-box;
        width: 40vw;
        background-color: $trans-send-col;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 10px 0px;
        font-size: 18px;
        font-weight: 500;
        color: $send-col;
        padding-left: 5px;
        border-left:solid 5px $send-col;
        margin: 5px 0px;
        border-radius: 5px;
    } 

    .inputBx textarea{
        width: 40vw;
        min-height: 150px;
        background-color: $trans-send-col;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        color: $send-col;
        padding-left: 5px;
        border-left:solid 5px $send-col;
        margin: 5px 0px;
        border-radius: 5px;
    }

    .circle{
        border-radius: 100%;
    }

    #small{
        height: 52px;
        width: 52px;
        background-color: rgba($color: #dd33c6, $alpha: 0.7);
        backdrop-filter: blur(5px);
        position: absolute;
        top:0px;
        left:0px;
        // right: 0px;
    }

    #big{
        height: 140px;
        width: 140px;
        background-color: rgba($color: #0b6d70, $alpha: 0.7);
        // filter: blur(5px);
        // backdrop-filter: blur(50px);
        // -webkit-backdrop-filter: blur(100px);
        // -moz-backdrop-filter:blur(100px);
        // -ms-backdrop-filter:blur(100px);
        // -o-backdrop-filter:blur(100px);
        position: absolute;
        // box-shadow: 0px 0px 4px 3px rgba($color: #592886, $alpha: 0.7);
        top:0px;
        right:0px;

    }

    #medium{
        height: 80px;
        width: 80px;
        background-color: rgba($color: #efaf58, $alpha: 0.7);
        // filter: blur(5px);
        // backdrop-filter: blur(50px);
        // -webkit-backdrop-filter: blur(100px);
        // -moz-backdrop-filter:blur(100px);
        // -ms-backdrop-filter:blur(100px);
        // -o-backdrop-filter:blur(100px);
        position: absolute;
        // box-shadow: 0px 0px 4px 3px rgba($color: #592886, $alpha: 0.7);
        top:0px;
        left:0px;
    }

    
}

//Footer
#footer {
    background: #162c3b;
    padding: 0px 0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: $send-col;
    justify-content: space-between;
    align-items:center;
    
    .left {
        flex-direction: column;
        text-align: justify;
        color:red;
        margin:0px;
    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .center{
        align-self: flex-start;
        padding-top:5px;
    }
    p{
        color:white;
        margin: 0px;
        padding: 0px;
        border-bottom: 2px solid $nav-blue;
    }

    p a {
        text-decoration: none;
        color: grey;
    }

    a:hover {
        color: white;
    }

    ul{
        margin: 0px;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        text-decoration: none;
        display: inline-block;
        color:grey;
        margin: 0px 10px;
        
    }

    ul li a img {
        filter: invert(1);
        max-width: 20px;
    }
}
//Media queries

@media (max-width:835px) and (min-width:768px){
    .main-nav{
        ul{
            li{
                font-size: $spacer * 0.7;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .x{
        position: absolute;
        top: 2rem;
        right: 2rem;
       button{
        filter: brightness(4);
        -webkit-filter: brightness(4);
        transform: scale(3);
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
    }
    }

    .main-nav{
        background-color: $blue-background;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        ul{
            li{
                background-color: transparent;
                box-shadow: none;
                margin-bottom: 3rem;
                margin-left: 2rem;
                font-size: 1.5rem;
                a{
                    color: $nav-blue;
                }
            }
        }
    }
}

@include media-breakpoint-between(sm, md) {
    .main-nav{
        background-color: $blue-background;
        ul{
            li{
                background-color: transparent;
                box-shadow: none;
                a{
                    color: $nav-blue;
                }
            }
        }
    }

    
    main{
        .main-wrapper{
            width:100%;
        }
    
       .intro-comp{
           width: 100% !important;
           position: relative;
           top: 1.5rem;
           right: 1rem;
        h1{
            font-size: $spacer * 2;
            margin-bottom: $spacer*1.5;
        }

        p{
            font-size: $spacer * 0.8;
            margin-bottom: $spacer*1.5;
        }

        input{
            width: 15rem !important;
        }

        button[type = "submit"]{
            position: relative;
            bottom: 3rem;
            left: 60%;
            padding: 0 2rem !important;
        }
       }
        .glass-img{
            width: 50%;
            img{
                width: 100%;
                position: relative;
                // left: 50px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    body{
        background-color: $mob-back;

        h1 {
            font-size: $spacer * 2;
        }
    }



    .glass-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            filter: brightness(0.4);
            -webkit-filter: brightness(0.4)
        }
        p{
            position: absolute;
        }
    
    }
    .main-nav{
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: $blue-background;
        ul{
            li{
                background-color: transparent;
                box-shadow: none;
                a{
                    color: $nav-blue;
                }
            }
        }
    }

    main::before{
        display: none;
    }

    main{
        background-color: $mob-back;
        height: 100vh;
        z-index: -100;
        .glass-img{
            display: none !important;
        }

        .main-wrapper{
            width:100%;
        }
        
        .intro-comp{
            width: 100% !important;
            margin: 0rem 0 8rem 0;
            align-items: center;
            justify-self: center;
            .hig{
                width:80vw;
            }

            h1{
                align-self: center;
            }

            p{
                text-align: center;
                font-weight: 300;
            }
        }
    }

    .about-back, .service-back{
        display: none;
    }

    .about{
        background-color: $nav-blue;
        width: 80%;
        z-index: 100;
        p{
            color: $about-p;
        }

        .second{
            float:none;
        }

        .third{
            clear:none;
        }
    }

    .servi{
        display: grid;
        width: 100%;
        height: 1030px;
        grid-template-columns:50% 50%;
        grid-template-rows: 250px 1fr 1fr 1fr;
        grid-gap: 6px;
        margin:auto;
        margin-bottom:15px;
    }

    .glass{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
        display: flex;
        align-items:flex-end;
        .textish{
            width: 80%;
        }
    }
    
    .profiles{
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:2;
        display: flex;
        align-items:flex-end;
        .textish{
            width: 80%;
        }
    }
    
    .alucobond{
        grid-column-start: 1;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:3;
        display: flex;
        align-items:flex-end;
        .textish{
            width: 80%;
        }
    }
    
    .accessories{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start:3;
        grid-row-end:4;
        display: flex;
        align-items:flex-end;
        .textish{
            width: 80%;
        }
    }
    
    .interior-design{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start:4;
        grid-row-end:5;
        display: flex;
        align-items:flex-end;
        .textish{
            width: 80%;
        }
    }
    
    .fabrication{
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:5;
        display: flex;
        align-items:flex-end;
        .textish{
            position: relative;
            z-index: 100;
            width: 80%;
        }
    }

    
    .service{
        // height: min-content;
        margin-bottom: 23px;
        img{
            min-height: 100%;
            min-width: 100%;
        }
    
        .textish{
            background-color:transparent;
            position: absolute;
            p{
                color: black;
                font-size: 1.5rem;
            }
        }
    }

    #contact-us{
        height: 205vh;

        .bigbg{
            flex-direction: column;
        }

        .leftbg{
            height:80vh;
            width:100vw;
        }

        .rightbg{
            height: 100vh;
            width:100vw;
        }

        .inputBx input{
            margin: 5px 10px;
            width: 80vw;
        }

        .inputBx textarea{
            margin: 5px 10px;
            width: 80vw;
        }
    }

    #footer{
        flex-direction: column;

        .center{
            align-self: center;
        }

        .left{
            order:1;
        }
    }


}


//Hope you have fun understanding my code

//ヽ(ｏ`皿′ｏ)ﾉ